@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.work-sans-font {
    font-family: "Work Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }

/* font color */
.dark-1{
    color: rgba(19, 19, 19, 100%);
}
.dark-2{
    color: rgba(66, 66, 66, 100%);
}
.dark-3{
    color: rgba(114, 114, 114, 100%);
}
.text-orange{
    color: rgba(255, 144, 14, 100%);
}
.btn-text{
    color: rgba(255, 255, 255, 100%);
}


/* button styles */
.btn-primary{
    background-color: rgba(255, 144, 14, 1);
    border: none;
    border-radius: 8px;
    width: 150px;
    height: 50px;
    font-size: 1rem;
    font-weight: 600;
    padding: 10px 20px;
}
.btn-primary:hover{
    color: black;
    cursor: pointer;
}



/* header styles */
.bg-color{
    background-color: rgba(255, 144, 14, 0.1);
}


/* shared styles */
.display-flex{
    display: flex;
}
main{
    max-width: 1440px;
    margin: 0 auto;
}
main > section{
    margin-top: 90px;
}


/* nav styles */
.navbar{
    justify-content: space-between;
    align-items: center;
}
.brand-name{
    font-size: 2.5rem;
    font-weight: 700;
}
.nav-item{
    list-style: none;
    margin-left: 40px;
}
.nav-link{
    text-decoration: none;
    font-size: 15px;
    font-weight: 500px;
}


/* banner styles */
.navbar, .banner{
    max-width: 1440px;
    margin: 0 auto;
}

.banner-content{
    text-align: center;
    margin: 0 auto;
    max-width: 860px;
    margin-bottom: 50px;
}
.banner-image{
    width: 100%;
}
.banner-title{
    font-weight: 700;
    font-size: 4rem;
}
.banner-description{
    font-size: 1rem;
    font-weight: 400;
}


/* main styles */
.sec-1{
    align-items: center;
}
.image-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}
.features{
    margin-left: 80px;
    max-width: 530px;
    /* border: 1px solid tomato; */
    padding: 15px;
}
.features-description{
    margin-top: 20px;
    margin-bottom: 35px;
}
#Quick-list{
    font-size: 2rem;
    font-weight: 500;
}
#Our{
    font-size: 2rem;
    font-weight: 700;
}
#Feature{
    font-size: 2rem;
    font-weight: 700;
}
.facts-title{
    font-weight: 700;
    font-size: 2rem;
    margin-bottom: 20px;
    margin-top: 20px;
}
.facts-description{
    font-weight: 400;
    font-size: 1rem;
    max-width: 540px;
    margin-bottom: 100px;
}
.facts-card-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}
.facts-card{
    width: 241px;
    height: 241px;
    border: 1px solid rgba(255, 144, 14, 1);
    border-radius: 8px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
.facts-card-no{
    font-weight: 600;
    font-size: 2rem;
    margin-top: 10px;
    margin-bottom: 5px;
}
.facts-card-name{
    font-weight: 400;
    font-size: 1.1rem;
    margin-top: 10px;
}
.sponsors-container{
    max-width: 540px;
    margin: 50px auto;
    text-align: center;
}
.sponsors-title{
    font-weight: 700;
    font-size: 2rem;
}
.sponsors-description{
    font-size: 1rem;
    font-weight: 400;
}
.sponsors-companies{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}
.sponsors-companies img{
    filter: grayscale(100%);
}


/* responsive media query */
@media screen and (max-width: 576px) {
    .navbar, .nav-links, .sec-1{
        flex-direction: column;
    }
    .nav-links{
        padding: 0px;
    }
    .image-container, .facts-card-container, .sponsors-companies{
        grid-template-columns: repeat(1, 1fr);
    }
    .facts-section{
        margin-left: 20px;
    }
    .facts-card-container, .sponsors-companies{
        justify-items: center;
        gap: 20px;
    }
    .features{
        margin-left: 20px;
    }
}